.slider .thumb {
    -fx-background-color: #737373;  /* Hide the track */
}

.slider .track {
    -fx-background-color: #cacaca;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
    -fx-padding: 7px;
}

#controllerBar .button{
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-background-radius: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
}

#playPauseButton.play {
    -fx-background-image: url("../assets/Play.png");
}

#playPauseButton:hover.play {
    -fx-background-image: url("../assets/PlayHover.png");
}

#playPauseButton.pause {
    -fx-background-image: url("../assets/Pause.png");
}

#playPauseButton:hover.pause {
    -fx-background-image: url("../assets/PauseHover.png");
}

#stopButton {
    -fx-background-image: url("../assets/Stop.png");
}

#stopButton:hover {
    -fx-background-image: url("../assets/StopHover.png");
}

#importButton {
    -fx-background-image: url("../assets/Import.png");
}

#importButton:hover {
    -fx-background-image: url("../assets/ImportHover.png");
}

#mediaSettings {
    -fx-padding: 10px;
}

#mediaSettings .button{
    -fx-label-padding: 2px;
}

#mediaContainer.init {
    -fx-background-image: url("../assets/background_info.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: bottom left;
    -fx-background-size: 380px;
}

#mainMediaViewer {

}